$app-background: #efeff5;
$container-background-dark: #fafafa;
$container-background-light: #ffffff;
$container-border-dark: #e8e8ea;
$container-border-light: #e8e8e8;
$text-blue: #597c8d;
$text-gray-dark: #444444;